.main-container{
  margin:20px auto;
  width: 800px;
  padding:50px;
  background-color: grey;
}

.date-picker-container{
  position: relative;
  display: inline-block;
  margin-right: 50px;
}

.date-picker{
  position: absolute;
  left: 0px;
  top: 30px;
}
